@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: 60vh;
  border: 5px solid #007b83;
  justify-content: space-around;
  background-color: #007b83;
  border-radius: 20px;
  padding: 10px;
}

.left-container {
  width: 40vw;
  padding: 100px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-size: 2.5em;
  padding: 0px 10px;
  padding-top: 40px;
  margin-bottom: 30px;
}

label {
  font-size: 2em;
}

section {
  padding: 10px;
  margin-bottom: 30px;
}

input {
  padding: 0px 10px;
  font-size: 2em;
  width: 100%;
  border: none;
  outline: none;
  border-right: 1px solid black;
}

.input-container {
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
  display: flex;
}

#temptype {
  outline: none;
  border: none;
  padding-left: 10px;
  font-size: 2em;
}

#convert_temptype {
  width: 100%;
  font-size: 2em;
  border-radius: 10px;
  padding: 0px 10px;
  outline: none;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
}

button{
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background-color: #007b83;
  color: white;
  text-align: center;
}